.row {
    width: 100vw;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    justify-content: center;
}
button {
    margin: auto auto;
    color: black;
    padding: 10px;
    border: 5px solid black;
    border-radius: 30px;
    width: 150px;
    height: 100px;
    font-size: 20px;
    margin-top: 20px;
}

body{
    background-color: #4ebeef;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.winner {
    display: none;
    position: fixed;
    top: 10px;
    margin: auto auto;
    color: black;
    padding: 10px;
    padding-left: 15%;
    padding-right: 15%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
}

.restart{
    pointer-events: auto;
    display: none;
    color: black;
    padding: 10px;
    border: 5px solid black;
    border-radius: 30px;
    width: 150px;
    height: 100px;
    font-size: 20px;
    background-color: darkolivegreen;
}
#homebutton {
    pointer-events: auto;
    color: black;
    padding: 10px;
    border: 5px solid black;
    border-radius: 30px;
    width: 150px;
    height: 100px;
    font-size: 20px;
    background-color: darkolivegreen;
}
#buttonDiv {
    position: fixed;
    pointer-events: none;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: end;
}

button:hover {
    border-color: cadetblue;
}
#homebutton:hover {
    border-color: cadetblue;
}